src/main/resources/new.wsdl

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:m="http://www.rt-eu.ru/med/er/v2_0" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ErSoapService" targetNamespace="http://www.rt-eu.ru/med/er/v2_0">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:m="http://www.rt-eu.ru/med/er/v2_0" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.rt-eu.ru/med/er/v2_0" version="1.0">
            <xs:include schemaLocation="http://p-ovis-psserv-2.hostco.ru:8080/FerIntegration/services/FerIntegration?xsd=ferIntegrationQ.xsd"/>
        </xs:schema>
    </types>
    <message name="GetServiceSpecsInfoResponse">
        <part element="m:GetServiceSpecsInfoResponse" name="parameter"> </part>
    </message>
    <message name="CreateAppointment">
        <part element="m:CreateAppointmentRequest" name="parameter"> </part>
    </message>
    <message name="GetMOInfoExtendedResponse">
        <part element="m:GetMOInfoExtendedResponse" name="parameter"> </part>
    </message>
    <message name="GetMOResourceInfoResponse">
        <part element="m:GetMOResourceInfoResponse" name="parameter"> </part>
    </message>
    <message name="GetPatientInfoResponse">
        <part element="m:GetPatientInfoResponse" name="parameter"> </part>
    </message>
    <message name="GetScheduleInfo">
        <part element="m:GetScheduleInfoRequest" name="parameter"> </part>
    </message>
    <message name="ReferralAppointmentInformation">
        <part element="m:ReferralAppointmentInformationRequest" name="parameter"> </part>
    </message>
    <message name="ReferralAppointmentInformationResponse">
        <part element="m:ReferralAppointmentInformationResponse" name="parameter"> </part>
    </message>
    <message name="GetPatientInfo">
        <part element="m:GetPatientInfoRequest" name="parameter"> </part>
    </message>
    <message name="GetScheduleInfoResponse">
        <part element="m:GetScheduleInfoResponse" name="parameter"> </part>
    </message>
    <message name="CancelAppointmentResponse">
        <part element="m:CancelAppointmentResponse" name="parameter"> </part>
    </message>
    <message name="GetServicePostSpecsInfoResponse">
        <part element="m:GetServicePostSpecsInfoResponse" name="parameter"> </part>
    </message>
    <message name="CreateAppointmentResponse">
        <part element="m:CreateAppointmentResponse" name="parameter"> </part>
    </message>
    <message name="GetMoInfo">
        <part element="m:GetMoInfoRequest" name="parameter"> </part>
    </message>
    <message name="GetMoInfoResponse">
        <part element="m:GetMoInfoResponse" name="parameter"> </part>
    </message>
    <message name="GetMOInfoExtendedRequest">
        <part element="m:GetMOInfoExtendedRequest" name="parameter"> </part>
    </message>
    <message name="CancelAppointment">
        <part element="m:CancelAppointmentRequest" name="parameter"> </part>
    </message>
    <message name="GetReferralInfoResponse">
        <part element="m:GetReferralInfoResponse" name="parameter"> </part>
    </message>
    <message name="GetServiceSpecsInfo">
        <part element="m:GetServiceSpecsInfoRequest" name="parameter"> </part>
    </message>
    <message name="GetMOResourceInfo">
        <part element="m:GetMOResourceInfoRequest" name="parameter"> </part>
    </message>
    <message name="GetReferralInfo">
        <part element="m:GetReferralInfoRequest" name="parameter"> </part>
    </message>
    <message name="GetServicePostSpecsInfo">
        <part element="m:GetServicePostSpecsInfoRequest" name="parameter"> </part>
    </message>
    <message name="GetResourceInfo">
        <part element="m:GetResourceInfoRequest" name="paramete"> </part>
    </message>
    <message name="GetResourceInfoResponse">
        <part element="m:GetResourceInfoResponse" name="parameter"> </part>
    </message>
    <portType name="ErWebService">
        <operation name="GetPatientInfo">
            <input message="m:GetPatientInfo"> </input>
            <output message="m:GetPatientInfoResponse"> </output>
        </operation>
        <operation name="GetReferralInfo">
            <input message="m:GetReferralInfo"> </input>
            <output message="m:GetReferralInfoResponse"> </output>
        </operation>
        <operation name="GetMOInfo">
            <input message="m:GetMoInfo"> </input>
            <output message="m:GetMoInfoResponse"> </output>
        </operation>
        <operation name="GetMOInfoExtended">
            <input message="m:GetMOInfoExtendedRequest"> </input>
            <output message="m:GetMOInfoExtendedResponse"> </output>
        </operation>
        <operation name="GetServiceSpecsInfo">
            <input message="m:GetServiceSpecsInfo"> </input>
            <output message="m:GetServiceSpecsInfoResponse"> </output>
        </operation>
        <operation name="GetResourceInfo">
            <input message="m:GetResourceInfo"> </input>
            <output message="m:GetResourceInfoResponse"> </output>
        </operation>
        <operation name="GetMOResourceInfo">
            <input message="m:GetMOResourceInfo"> </input>
            <output message="m:GetMOResourceInfoResponse"> </output>
        </operation>
        <operation name="GetServicePostSpecsInfo">
            <input message="m:GetServicePostSpecsInfo"> </input>
            <output message="m:GetServicePostSpecsInfoResponse"> </output>
        </operation>
        <operation name="GetScheduleInfo">
            <input message="m:GetScheduleInfo"> </input>
            <output message="m:GetScheduleInfoResponse"> </output>
        </operation>
        <operation name="CreateAppointment">
            <input message="m:CreateAppointment"> </input>
            <output message="m:CreateAppointmentResponse"> </output>
        </operation>
        <operation name="CancelAppointment">
            <input message="m:CancelAppointment"> </input>
            <output message="m:CancelAppointmentResponse"> </output>
        </operation>
        <operation name="ReferralAppointmentInformation">
            <input message="m:ReferralAppointmentInformation"> </input>
            <output message="m:ReferralAppointmentInformationResponse"> </output>
        </operation>
    </portType>
    <binding name="ErPortal" type="m:ErWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetPatientInfo">
            <soap:operation soapAction="GetPatientInfo" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetReferralInfo">
            <soap:operation soapAction="GetReferralInfo" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetMOInfo">
            <soap:operation soapAction="GetMOInfo" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetMOInfoExtended">
            <soap:operation soapAction="GetMOInfoExtended" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetServiceSpecsInfo">
            <soap:operation soapAction="GetServiceSpecsInfo" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetResourceInfo">
            <soap:operation soapAction="GetResourceInfo" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetMOResourceInfo">
            <soap:operation soapAction="GetMOResourceInfo" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetServicePostSpecsInfo">
            <soap:operation soapAction="GetServicePostSpecsInfo" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetScheduleInfo">
            <soap:operation soapAction="GetScheduleInfo" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateAppointment">
            <soap:operation soapAction="CreateAppointment" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CancelAppointment">
            <soap:operation soapAction="CancelAppointment" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReferralAppointmentInformation">
            <soap:operation soapAction="ReferralAppointmentInformation" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ErWebService">
        <port binding="m:ErPortal" name="ErPortal">
            <soap:address location="http://p-ovis-psserv-2.hostco.ru:8080/FerIntegration/services/FerIntegration"/>
        </port>
    </service>
</definitions>